{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/user_top.css')}}">
{% endblock %}

{% block title%}
<a class="navbar-brand" href="{{url_for('student.menu')}}">就職活動報告書管理システム<span style="color:black">　-マイメニュー<span>
{% endblock %}

{% block content %}
<p class="titlelogo">メニュー画面</p><br>
{% if msg != null%}
	<a style="color:blue"class="msg">{{msg}}</a><br>
{% endif %}

{% if error != null%}
	<a style="color:red"class="msg">{{error}}</a><br>
{% endif %}
<div class="flexbox">
    <div class="buttonbox">
        報告書検索
        <a href="{{url_for('student.search_report')}}"></a>
    </div>
    <div class="buttonbox">
        報告書作成
        <a href="{{url_for('student.register')}}"></a>
    </div>
    <div class="buttonbox">
        報告書修正
        <a href="{{url_for('student.correction_select')}}"></a>
    </div>
    <div class="buttonbox">
        ログアウト
        <a href="{{url_for('student.logout')}}"></a>
    </div>
</div>
{% endblock %}