{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/correction.css')}}">
{% endblock %}

{% block title%}
<a class="navbar-brand" href="{{url_for('admin.menu_by_confirm')}}">就職活動報告書管理システム<span style="color:black">　報告書添削<span>
{% endblock %}

{% block content %}
<p class="titlelogo">報告書添削</p>
<div class="flexbox">
    <iframe src="{{url_for('static',filename='pdf/view.pdf')}}" width="900" height="520"></iframe>
</div>
<br>
<div class="flexbox">
    <form action="{{url_for('admin.correct_confirm')}}"method="post">
        <a>訂正場所</a><br>
        <input type="checkbox" name="check_1"value="1">会社名
        <input type="checkbox" name="check_2"value="1">電話番号
        <input type="checkbox" name="check_3"value="1">所在地
        <input type="checkbox" name="check_4"value="1">氏名
        <input type="checkbox" name="check_5"value="1">学科・コース
        <input type="checkbox" name="check_6"value="1">職種<br>
        <input type="checkbox" name="check_7"value="1">業種
        <input type="checkbox" name="check_8"value="1">応募形態
        <input type="checkbox" name="check_9"value="1">一次
        <input type="checkbox" name="check_10"value="1">二次
        <input type="checkbox" name="check_11"value="1">三次
        <input type="checkbox" name="check_12"value="1">四次
        <input type="checkbox" name="check_13"value="1">試験の内容<br><br>
        <a>修正コメント</a><br>
        <input type="text"name="text_1"class="search_b"autocomplete="off"><br>
        <input type="text"name="text_2"class="search_b"autocomplete="off"><br>
        <input type="text"name="text_3"class="search_b"autocomplete="off"><br>
        <input type="text"name="text_4"class="search_b"autocomplete="off"><br>
        <input type="text"name="text_5"class="search_b"autocomplete="off"><br>
        <input type="text"name="text_6"class="search_b"autocomplete="off"><br>
        <input type="text"name="text_7"class="search_b"autocomplete="off"><br><br>
        <div class="button_box">
            <a class="button_s" href="{{url_for('admin.menu_by_confirm')}}">戻る</a>
            <input type="submit"class="button_s"value="再提出">
            <a class="button_s" href="{{url_for('admin.approval')}}">承認</a>
        </div><br>
    </form>
</div>
{% endblock %}