{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/login.css')}}">
{% endblock %}

{% block title%}
<a class="navbar-brand" href="{{url_for('sample_top')}}">就職活動報告書管理システム<span style="color:black">　-ログイン<span>
{% endblock %}

{% block content %}
<p class="titlelogo">ログイン画面</p><br>
{% if msg != null%}
	<a style="color:blue"class="msg">{{msg}}</a><br>
{% endif %}

{% if error != null%}
	<a style="color:red"class="msg">{{error}}</a><br>
{% endif %}

<div class="loginbox">
	<div class="searchbox">
		<form action="{{url_for('login')}}" method="post">
			<a>メールアドレス</a><br>
			<input type="email"name="email"class="search_a"autocomplete="off"value="{{data.email if data is defined else '' }}"><br><br>
			<a>パスワード</a><br>
			<input type="password"name="pw"class="search_b"autocomplete="off"><br><br>
			<a class="submit"><input type="submit"class="button_s"value="ログイン"></a>
			<a class="register" href="{{url_for('register_page')}}">新規登録</a>
		</form>
	</div>
</div>
{% endblock %}