{%extends "layout.html"%}
{%block css%}
<link rel="stylesheet" href="{{url_for('static',filename='/css/register.css')}}">
{% endblock %}

{% block title%}
<span style="color:black">　-新規登録<span>
{%endblock%}

{% block content%}
<p class="titlelogo">新規登録</p>

{% if error !=null %}
<p style="color:red">{{error}}</p>
{% endif %}

<div class="loginbox">
	<div class="searchbox">
    
		<form action="{{url_for('register_pass_page')}}" method="post">
            <input type="hidden"name="email"value={{email}}><br>
            <a>メールアドレス</a><br>
            {% if email != null %}
            <p style="font-size:1.2rem">{{email}}</p>
            {% endif %}
            <a>パスワード</a><br>
            <input type="password"name="pass1"class="search_a"autocomplete="off"><br><br>
            <a>パスワード（確認）</a><br>
            <input type="password"name="pass2"class="search_a"autocomplete="off"><br><br>
            <a class="submit"><input type="submit"class="button_s"value="登録"></a>
			<a class="register" href="{{url_for('sample_top')}}">ログイン画面へ</a>
		</form>
	</div>
</div>
{%endblock%}